/* ==========================================================================
   #INTRO/DEFAULT
   ========================================================================== */

.intro {
    display: flex;
    gap: var(--spacing5);

    &__content {
        flex: 1;
    }

    &__image {
        border-radius: 2rem;
        flex: 1;
        max-width: 28rem;
        width: 100%;
    }
}