/* ==========================================================================
   #CONTENT
   ========================================================================== */
   
/**
 * Content spacing
 */

$content-gutter-small: $spacing-3;
$content-gutter: $spacing-5;

/**
 * Content Width
 */
 
$content-width: 76rem;
$content-width-wide: 116rem;

$content-vertical-spacing: 2.4rem;

:root {
    --contentWidth: 76rem;
    --contentWidthNarrow: 70rem;
    --contentWidthWide: 116rem;
}