/* ==========================================================================
   #CONTENT
   ========================================================================== */
   
/**
 * Content spacing
 */

$content-gutter-small: var(--spacing3);
$content-gutter: var(--spacing5);

/**
 * Content Width
 */
 
$content-width: 76rem;
$content-width-wide: 116rem;

:root {
    --contentGutterVertical: var(--spacing4);
    --contentWidth: 64rem;
    --contentWidthNarrow: 70rem;
    --contentWidthWide: 116rem;
}