/* ==========================================================================
   #CONTENT
   ========================================================================== */

@mixin content-default {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $bp-tablet) {
        max-width: $content-width;
    }
}

@mixin content-default-margin {
    margin-left: var(--spacing3);
    margin-right: var(--spacing3);

    @media (min-width: $bp-tablet) {
        max-width: calc(#{$content-width} - (var(--spacing6) * 2));
        margin-left: var(--spacing6);
        margin-right: var(--spacing6);
    }
}

@mixin content-wide {

    @media (min-width: $bp-tablet) {
        max-width: $content-width-wide;
    }
}

@mixin content-wide-margin {
    margin-left: var(--spacing3);
    margin-right: var(--spacing3);

    @media (min-width: $bp-tablet) {
        margin-left: var(--spacing6);
        margin-right: var(--spacing6);
    }
}