/* ==========================================================================
   #LISTS
   ========================================================================== */

/**
 * Mixins & functions for working with lists.
 */

@mixin list-reset() {
    margin: 0;
    padding-left: 0;

    list-style: none;
}

@mixin list-horizontal() {
    display: flex;
    flex-flow: row wrap;
}

@mixin list-horizontal-spaced() {
    @include list-horizontal();

    > li {
        margin: 0 var(--spacing3) var(--spacing1) 0;

        &:last-child {
            margin-right: 0;
        }
    }
}