<footer class="footer width">

	<ul class="list list--horizontal list--horizontal-spaced mb-1 text--size-small">
		<li><a href="/rss/">RSS</a></li>
		<li><a href="mailto:hello@bengammon.co.uk">Email</a></li>
		<li><a rel="me" href="https://bsky.app/profile/bengammon.co.uk" target="_blank">Bluesky</a></li>
		<li><a href="https://www.linkedin.com/in/bengammon/" target="_blank">LinkedIn</a></li>
	</ul>

	<p class="text--size-small">&copy;2012–{{date format="YYYY"}} Ben Gammon. All rights reserved.</p>

</footer>