<footer class="footer width">

	<ul class="list list--horizontal list--horizontal-spaced mb-1">
		<li><a href="/rss/">RSS</a></li>
		<li><a href="mailto:hello@bengammon.co.uk">Email</a></li>
		<li><a rel="me" href="https://bsky.app/profile/bengammon.co.uk" target="_blank">Bluesky</a></li>
		<li><a href="https://www.linkedin.com/in/bengammon/" target="_blank">LinkedIn</a></li>
	</ul>

	<p class="footer__legal text--size-tiny">&copy;2012–{{date format="YYYY"}} Ben Gammon. All rights reserved.</p>

	<a href="https://notbyai.fyi/">
		<img src="{{asset 'images/Created-By-a-Human-Not-By-AI-Badge-black.svg'}}" />
	</a>

</footer>