<footer class="footer">

	<ul class="list list--horizontal list--horizontal-spaced mb-1 font--alt text--size-tiny">
		<li><a href="/style-guide/">Style guide</a></li>
		<li><a href="/rss/">RSS</a></li>
		<li><a href="https://www.linkedin.com/in/bengammon/" target="_blank">LinkedIn</a></li>
		<li><a rel="me" href="https://mas.to/@bengammon" target="_blank">Mastodon</a></li>
		<li><a href="https://twitter.com/bengammon" target="_blank">Twitter</a></li>
	</ul>

	<p class="color--text-subtle font--alt text--size-tiny">&copy;2012–{{date format="YYYY"}} Ben Gammon. All rights reserved.</p>

</footer>