<header class="header width" role="banner">
    <a href="#main" class="skip-link">
        Skip to main content
    </a>
    <a class="header__logo" href="/">
        <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48 24C48 37.2548 37.2548 48 24 48C10.7452 48 0 37.2548 0 24C0 10.7452 10.7452 0 24 0C33.95 0 42.4857 6.0549 46.1237 14.6811C46.3919 15.317 45.9105 16 45.2203 16H24C19.5817 16 16 19.5817 16 24C16 28.4182 19.5817 32 24 32C28.4182 32 32 28.4182 32 24C32 23.1576 31.8698 22.3455 31.6284 21.583C31.396 20.8487 31.8933 20 32.6635 20H46.822C47.3104 20 47.7297 20.3526 47.7934 20.8369C47.9297 21.8719 48 22.9278 48 24Z" fill="black"/></svg>
        
    </a>

    <div class="header__menu-toggle gh-burger">
        <nav class="nav-container">
            <ul class="nav nav--menu-toggle" role="menu">
                <li class="nav__item" role="menuitem">
                    <a>
                        <svg class="header__burger" xmlns="http://www.w3.org/2000/svg" fill="none" height="24" width="24" viewBox="0 0 24 24"><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/></svg>
                        <svg class="header__close" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 6L6 18M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        <span class="nav__item-label">Menu</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="header__menu">

        <div class="header__nav">
            {{> navigation-static}}
        </div>

        <div class="header__social">
            {{> social}}
        </div>

    </div>
</header>