<article class="note">

    <div class="meta">
        <time datetime="{{date format='Do-MMMM-YYYY'}}">
            <a href="{{url}}">{{date format="Do MMMM YYYY"}}</a>
        </time>
    </div>

    {{content}}

</article>
