<article class="post-teaser {{post_class}}">

    <div class="post-teaser__date">
        <a class="subheading" href="{{url}}">{{date format="dddd, D MMMM YYYY"}}</a>
    </div>
    
    {{content}}

</article>
