<ul class="nav nav--social" role="menu">
    <li role="menuitem">
        <a rel="me" href="mailto:hello@bengammon.co.uk">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 7C3 6.46957 3.21071 5.96086 3.58579 5.58579C3.96086 5.21071 4.46957 5 5 5H19C19.5304 5 20.0391 5.21071 20.4142 5.58579C20.7893 5.96086 21 6.46957 21 7M3 7V17C3 17.5304 3.21071 18.0391 3.58579 18.4142C3.96086 18.7893 4.46957 19 5 19H19C19.5304 19 20.0391 18.7893 20.4142 18.4142C20.7893 18.0391 21 17.5304 21 17V7M3 7L12 13L21 7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </a>
    </li>
    <li role="menuitem">
        <a rel="me" href="https://bsky.app/profile/bengammon.co.uk">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.335 5.14399C4.681 3.94499 2 3.01699 2 5.96999C2 6.55999 2.35 10.923 2.556 11.631C3.269 14.094 5.686 14.381 8 14C3.955 14.665 3.111 17.208 5.333 19.41C6.363 20.428 7.246 21 8 21C10 21 11.134 18.231 11.5 17.5C11.833 16.833 12 16.333 12 16C12 16.333 12.167 16.833 12.5 17.5C12.866 18.231 14 21 16 21C16.754 21 17.637 20.429 18.667 19.41C20.889 17.207 20.045 14.664 16 14C18.314 14.38 20.73 14.094 21.444 11.631C21.65 10.923 22 6.55899 22 5.96999C22 3.01699 19.32 3.94499 17.665 5.14399C15.372 6.80599 12.905 10.192 12 12C11.095 10.192 8.628 6.80599 6.335 5.14399Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        </a>
    </li>
    <li role="menuitem">
        <a href="/rss">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 19c0 .2652.10536.5196.29289.7071C4.48043 19.8946 4.73478 20 5 20s.51957-.1054.70711-.2929C5.89464 19.5196 6 19.2652 6 19c0-.2652-.10536-.5196-.29289-.7071C5.51957 18.1054 5.26522 18 5 18s-.51957.1054-.70711.2929C4.10536 18.4804 4 18.7348 4 19ZM4 4c4.24346 0 8.3131 1.68571 11.3137 4.68629C18.3143 11.6869 20 15.7565 20 20M4 11c2.38695 0 4.67613.9482 6.364 2.636C12.0518 15.3239 13 17.6131 13 20"/></svg>
        </a>
    </li>
</ul>
