{{#if tags}}
	<ul class="d--inline-flex list list--divided ml-0 font--alt text--size-small color--text-subtle">
		{{#foreach tags}}
		<li>
			<a class="tag" href="{{url}}" title="{{name}}">{{name}}</a>
		</li>
		{{/foreach}}
	</ul>
{{/if}}
