/* ==========================================================================
   #HEADING/DEFAULT
   ========================================================================== */

.heading {    
    &--gradient {
        background: linear-gradient(90deg, var(--colorPrimary) 0%, var(--colorSecondary) 100%);
        color: transparent;
        -webkit-background-clip: text;
    }
}