/* ==========================================================================
   #CONTENT/DEFAULT
   ========================================================================== */

.content {
    grid-column: 1;
    grid-row-start: 1;

    @media (min-width: $bp-desktop-small) {
        grid-column: 2;
    }
}