/* ==========================================================================
   #CONTENT/DEFAULT
   ========================================================================== */

.content {
    align-content: start;
    display: grid;
    gap: var(--spacing4);
    grid-column: 1;
    grid-row-start: 1;

    @media (min-width: $bp-desktop-small) {
        grid-column: 2;
    }

    a {
        color: var(--colorTextProminent);
        text-decoration-color: var(--colorPrimary);

        &:hover {
            color: var(--colorPrimary);
            text-decoration: none;
        }
    }

    section {
        &:first-of-type {
            margin-top: 0;
        }
        
        header {
            margin-bottom: $content-vertical-spacing;
    
            h1 {
                margin: var(--spacing2) 0 var(--spacing3);
                
                color: var(--colorTextProminent);
                text-wrap: balance;
            }
        }

        > * {
            margin-bottom: $content-vertical-spacing;
    
            &:last-child {
                margin-bottom: 0;
            }
    
            & + h2 {
                padding-top: var(--spacing5);
            }
    
            & + h3 {
                margin-bottom: var(--spacing2);
            }
        }

        hr {
            margin-bottom: $content-vertical-spacing * 2;
            margin-top: $content-vertical-spacing * 2;
    
            & + h2 {
                padding-top: 0;
            }
        }
    } 
}