/* ==========================================================================
   #CONTENT/DEFAULT
   ========================================================================== */

.content {
    align-content: start;
    // display: grid;
    // gap: var(--spacing4);
    grid-column: 1;
    grid-row-start: 1;

    @media (min-width: $bp-desktop-small) {
        grid-column: 2;
    }

    > * {
        margin-bottom: var(--contentSpacingLarge);

        &:last-child {
            margin-bottom: 0;
        }

        & + h2 {
            padding-top: var(--contentSpacingLarge);
        }
    }

    hr {
        margin-bottom: calc(var(--contentSpacingLarge) * 2);
        margin-top: calc(var(--contentSpacingLarge) * 2);
    }

    a {
        color: var(--colorPrimary);
        text-decoration-color: var(--colorPrimary);

        &:hover {
            color: var(--colorPrimary);
            text-decoration: none;
        }
    }
}