{{!< default}}

{{#get "posts" include="tags" filter="tags:-microblog" limit="all"}}

    <h1>Blog</h1>

    {{> tags}}

    <div class="spacer--medium"></div>

    <div class="archive">
        {{#get "posts" include="tags" limit="all"}}
            {{#foreach posts}}
                {{> post-teaser}}
            {{/foreach}}
        {{/get}}
    </div>

{{/get}}