{{!< default}}

{{#get "posts" include="tags" filter="tags:-microblog" limit="all"}}

    <div class="page-header width">

        <h1>Blog</h1>

    </div>

{{/get}}

<div class="layout">

    <aside class="sidebar gh-sidebar">
        
        {{!-- <h2 class="subheading">Tags</h2>

        {{> tags}} --}}

    </aside>
    
    <div class="content gh-content">

        <div class="archive">
            {{#get "posts" include="tags" filter="tags:-micro" limit="all"}}
                {{#foreach posts}}
                    {{> post-teaser}}
                {{/foreach}}
            {{/get}}
        </div>

    </div>

</div>