{{!< default}}

<h1>Blog {{#if pagination.prev}}<span class="color--text-subtle">(Page {{pagination.page}})</span>{{/if}}</h1>

{{> tags}}

<div class="archive">
    {{#foreach posts}}
        {{> post-teaser}}
    {{/foreach}}
</div>

{{> pagination}}