{{!< default}}

<main role="main">

    {{#is "home"}}
    {{!-- <section class="section">
        <h1><span class="text--gradient">Hi, I’m Ben.</span><br><span class="color--text-subtle">Welcome to my website.</span></h1>
        <p>I'€m the founder &amp; design lead at <a href="#">Etch</a>, a design &amp; engineering agency that works with partners such as Miro, Plain and Morning Brew to transform their creative ideas into bulletproof digital experiences.</p>
    </section> --}}
    {{/is}}

    <section class="section">

        <h2 class="mb-2">Technical posts</h2>
        <p class="mb-5 text--size-small text--color-subtle">Work-related posts around design and development.</p>
        
        {{#get "posts" include="tags" filter="tags:-note" limit="5"}}
            {{#foreach posts}}
                {{> post-teaser}}
            {{/foreach}}
        {{/get}}

        <hr class="mb-6 mt-6">

        <h2 class="mb-2">Recent notes</h2>
        <p class="mb-5 text--size-small text--color-subtle">Random thoughts and personal stuff.</p>

        {{#get "posts" include="tags" filter="tags:note" limit="5"}}
            {{#foreach posts}}
                {{> post-teaser}}
            {{/foreach}}
        {{/get}}

    </section>

</main>
