{{!< default}}

<main role="main">

    <section class="section section--narrow">
        
        {{#get "posts" include="tags" limit="10"}}
            {{#foreach posts}}
                {{> post-teaser}}
            {{/foreach}}
        {{/get}}

    </section>

    <section class="section section--narrow">

        <h2 class="subheading">Tags</h2>

        {{#get "tags" limit="all"}}
        <ul class="list list--divided">
            {{#foreach tags}}
            <li>
                <a href="{{url}}" title="{{name}}" class="tag tag-{{slug}}">{{name}}</a>
            </li>
            {{/foreach}}
        </ul>
        {{/get}}

    </section>

</main>
