{{!< default}}

{{#is "home"}}
<div class="page-header width">

    <h1>Hi, I’m Ben.<br><span class="color--text-subtle">Welcome to my website.</span></h1>

    {{!-- <h1>Creative developer. Occasional DJ. Long-time web tinkerer.<br><span class="color--text-subtle">For almost 20 years, I’ve been building for the web, working on some massive titles like No Man’s Sky and Fable Legends (RIP). This is my personal space and microblog: a stream of what I’m learning, playing, thinking, and doing.</span></h1>

    <div class="intro">
        <img class="intro__image" src="{{asset 'images/me.jpg'}}" />
        <div class="intro__content">
            <h1>Hi, I’m Ben. <span class="color--text-subtle">Creative developer. Long-time web tinkerer.</span></h1>
            <p>For almost 20 years, I’ve been building for the web, working on sites for massive titles like <em>No Man’s Sky</em> and <em>Fable Legends (RIP)</em>. Welcome to my personal space and microblog: a stream of what I’m learning, playing, thinking, and doing.</p>
            <a class="btn2" href="/about">More about me</a>
        </div>
    </div> --}}

</div>
{{/is}}

<div class="layout layout--home width">
    
    <div class="content gh-content">

        <h2 class="subheading2">Microblog</h2>

        {{#get "posts" include="tags" filter="tags:micro" limit="4" }}
            {{#foreach posts}}
                {{> post-micro}}
            {{/foreach}}
        {{/get}}

        <a class="btn2" href="/micro">See more microblog posts</a>

    </div>

    <div class="content gh-sidebar">

        <h2 class="subheading2">Writing</h2>
        
        {{#get "posts" include="tags" filter="tags:-micro" limit="6"}}
            {{#foreach posts}}
                {{> post-teaser}}
            {{/foreach}}
        {{/get}}

        <a class="btn2" href="/blog">See more of my writing</a>

    </div>

</div>
