{{!< default}}

{{#is "home"}}
<h1>Hi, I’m Ben.<br> Creative developer.<br> Long-time web tinkerer.</h1>
<div class="spacer"></div>
<p>For almost 20 years, I’ve been building for the web, working on massive game titles such as <em>No Man’s Sky</em> and <em>Fable Legends (RIP)</em>. Welcome to my personal space and microblog: a stream of what I’m learning, playing, thinking, and doing.</p>
<a class="btn2" href="/about">More about me</a>
{{/is}}

<div class="spacer spacer--large"></div>

<hr>

<div class="spacer spacer--large"></div>

<div class="spacer--medium"></div>
    
{{#get "posts" include="tags" filter="tags:-micro" limit="6"}}
    {{#foreach posts}}
        {{> post-teaser}}
    {{/foreach}}
{{/get}}

<a class="btn2" href="/blog">See more of my writing</a>
