{{!< default}}

{{#is "home"}}
<div class="page-header width">

    <h1>Hi, I’m Ben.<br><span class="color--text-subtle">Welcome to my website.</span></h1>

    {{!-- <div class="intro">
        <img class="intro__image" src="{{asset 'images/me.jpg'}}" />
        <div class="intro__content">
            <h1>Hi, I’m Ben.<br><span class="color--text-subtle">Welcome to my website.</span></h1>
            <p>I'€m the founder &amp; design lead at <a href="#">Etch</a>, a design &amp; engineering agency that works with partners such as Miro, Plain and Morning Brew to transform their creative ideas into bulletproof digital experiences.</p>
            <a href="/about">More about me</a>
        </div>
    </div> --}}

</div>
{{/is}}

<div class="layout">

    <aside class="sidebar gh-sidebar">

        <h2 class="subheading">Tags</h2>

        {{> tags}}

    </aside>
    
    <div class="content gh-content">

        <h2 class="subheading margin-bottom--none">Latest posts</h2>
        
        {{#get "posts" include="tags" filter="tags:-micro" limit="5"}}
            {{#foreach posts}}
                {{> post-titles}}
            {{/foreach}}
        {{/get}}

    </div>

</div>
