{{!< default}}

<main role="main">

    <section class="section section--narrow">
        
        {{#get "posts" include="tags" limit="10"}}
            {{#foreach posts}}
                {{> post-teaser}}
            {{/foreach}}
        {{/get}}

    </section>

</main>
