{{!< default}}

{{#is "home"}}
<div class="page-header width">

    <h1>Hi, I’m Ben.<br><span class="color--text-subtle">Welcome to my website.</span></h1>
    {{!-- <p>I'€m the founder &amp; design lead at <a href="#">Etch</a>, a design &amp; engineering agency that works with partners such as Miro, Plain and Morning Brew to transform their creative ideas into bulletproof digital experiences.</p> --}}

</div>
{{/is}}

<div class="layout">

    <aside class="sidebar gh-sidebar">
    </aside>
    
    <div class="content gh-content">

        <div class="archive">
            {{#get "posts" include="tags" filter="tags:-micro" limit="all"}}
                {{#foreach posts}}
                    {{> post-teaser}}
                {{/foreach}}
            {{/get}}
        </div>

    </div>

</div>
