{{!< default}}

{{#is "home"}}
<div class="intro">
    <h1 class="intro__heading">Hi, I'm Ben. <br>Creative developer.<br>Web building since 2007.</h1>

    <div class="spacer--medium"></div>

    <p class="intro__text">I've spent nearly 20 years building for the web, including websites for major game franchises like <em>No Man's Sky</em>, <em>Dead Island</em>, <em>Saints Row</em>, and <em>Fable Legends (RIP)</em>. This is my personal site and microblog: a stream of what I'm learning, making, playing, and thinking about.</p>

    <div class="spacer--medium"></div>

    <a class="btn" href="/about">More about me</a>
</div>
{{/is}}

<h2 class="subheading">Recent writing</h2>
    
{{#get "posts" include="tags" filter="tags:-note" limit="3"}}
    {{#foreach posts}}
        {{> post-teaser}}
    {{/foreach}}
{{/get}}

<a class="link link--subtle" href="/blog">See more of my writing</a>

<h2 class="subheading">Recent notes</h2>

{{#get "posts" include="tags" filter="tags:note" limit="3"}}
    {{#foreach posts}}
        {{> post-note}}
    {{/foreach}}
{{/get}}

<a class="link link--subtle" href="/notes">See more of my notes</a>
