{{!< default}}

<div class="page-header width">

    <h1>Microblog</h1>

</div>

<div class="layout">

    <aside class="sidebar gh-sidebar">
        
        <h2 class="subheading">Tags</h2>

        {{> tags}}
        
    </aside>
    
    <div class="content gh-content">
        
        {{#get "posts" include="tags" filter="tags:microblog" limit="all" }}
            {{#foreach posts}}
                {{> post-microblog}}
            {{/foreach}}
        {{/get}}

    </div>

</div>