{{!< default}}

<div class="page-header width">

    <h1>Microblog</h1>

</div>

<div class="layout">

    <aside class="sidebar gh-sidebar">
        
    </aside>
    
    <div class="content gh-content">
        
        {{#get "posts" include="tags" filter="tags:micro" limit="10"}}
            {{#foreach posts}}
                {{> post-social}}
            {{/foreach}}
        {{/get}}

    </div>

</div>