{{!< default}}

<div class="page-header width">

    <h1>Micro</h1>

</div>

<div class="layout">

    <aside class="sidebar gh-sidebar">
        
        {{!-- <h2 class="subheading">Tags</h2>

        {{> tags}} --}}
        
    </aside>
    
    <div class="content gh-content">
        
        {{#get "posts" include="tags" filter="tags:micro" limit="all" }}
            {{#foreach posts}}
                {{> post-micro}}
            {{/foreach}}
        {{/get}}

    </div>

</div>