{{!< default}}

{{#post}}

    <div class="page-header width">

        <h1 class="page-header__title">{{title}}</h1>

    </div>

    <div class="layout">

        <aside class="sidebar"></aside>
        
        <div class="content">

            {{content}}

        </div>

    </div>

{{/post}}