{{!< default}}

<div class="layout__content">

{{#post}}

    <h1 class="page-header__title">{{title}}</h1>

    <div class="spacer--medium"></div>

    {{content}}

{{/post}}

</div>

<div class="layout__sidebar-right">

    <aside class="sidebar"></aside>

</div>