{{!< default}}



{{#post}}

<div class="layout__content">

    <article class="{{post_class}} gh-content">

        <h1 class="post__title">{{title}}</h1>

        <div class="post__meta">
            {{>date-published}}
            {{>post-tags}}
        </div>

        <hr>

        {{content}}

        {{!-- {{> author-info}} --}}

    </article>

</div>

<div class="layout__sidebar-right">

    <aside class="sidebar gh-sidebar">
        
        {{#has tag="#toc"}}
            {{> "table-of-contents"}}
        {{/has}}

    </aside>

</div>

{{/post}}