{{!< default}}

<article class="{{post_class}}">

    {{#post}}
    
    <header class="page-header width">

        <h1 class="page-header__title">{{title}}</h1>

        <div class="page-header__meta">
            {{>date-published}}
            {{>post-tags}}
        </div>

    </header>

    <div class="layout layout--article">

        <aside class="sidebar gh-sidebar">
            
            {{#has tag="#toc"}}
                {{> "table-of-contents"}}
            {{/has}}

        </aside>
        
        <div class="content gh-content">

            {{content}}

            {{!-- {{> author-info}} --}}
            
        </div>

    </div>

    {{/post}}

</article>