{{!< default}}

{{#post}}

<article class="{{post_class}} gh-content">

    <h1 class="post__title">{{title}}</h1>

    <div class="post__meta">
        {{>date-published}}
        {{>post-tags}}
    </div>

    <hr>

    {{content}}

    {{!-- {{> author-info}} --}}

</article>

{{/post}}