{{!< default}}

<article class="{{post_class}}">

    {{#post}}
    
    <header class="width">

        <h1>{{title}}</h1>

        {{>date-published}}
        {{>tags}}

    </header>

    <div class="layout layout--article">

        <aside class="article__sidebar gh-sidebar">
            <div class="toc">
                <h3>Table of Contents</h3>
                <div class="gh-toc">
                </div>
            </div>
        </aside>
        
        <div class="article__content gh-content">
            {{content}}
        </div>

    {{/post}}

</article>