{{!< default}}

<article class="{{post_class}}">

    {{#post}}
    
    <header class="page-header width">

        <h1>{{title}}</h1>

        {{>date-published}}
        {{>tags}}

    </header>

    <div class="layout layout--article">

        <aside class="sidebar gh-sidebar">
            <div class="toc">
                <h3 class="subheading">Table of Contents</h3>
                <div class="gh-toc">
                </div>
            </div>
        </aside>
        
        <div class="content gh-content">
            {{content}}
        </div>

    </div>

    {{/post}}

</article>