{{!< default}}

<main>

    <article class="{{post_class}}">

        <section class="section section--narrow">

            {{#post}}

            <header>

                <h1>{{title}}</h1>

                {{>date-published}}
                {{>tags}}

            </header>

            {{content}}

            {{/post}}

        </section>

    </article>

</main>