{{!< default}}

<article class="{{post_class}}">

    <section class="section section--narrow">

        {{#post}}

        <header>

            <h1>{{title}}</h1>

            {{>date-published}}
            {{>tags}}

        </header>

        {{content}}

        <hr class="mb-5">

        <div class="mb-3">
            {{>date-updated}}
        </div>

        <h2 class="mb-2">Like this post? Got a question?</h2>
        <p>Reply via: <a href="mailto:hello@bengammon.co.uk?subject={{title}}">Email</a>, <a rel="me" href="https://bsky.app/profile/bengammon.bsky.social" target="_blank">Bluesky</a>, <a rel="me" href="https://mas.to/@bengammon" target="_blank">Mastodon</a>, <a href="https://twitter.com/bengammon" target="_blank">Twitter</a></p>

        <hr class="mb-6 mt-5">

        <aside class="read-next">
            <h2 class="mb-5">Related posts</h2>
            {{>read-next}}
        </aside>

        {{/post}}

    </section>

</article>
