{{!< default}}

<div class="layout__content gh-content">

    {{#tag}}

        <h1 class="mb-3">
            <span class="color--text-subtle">Tag/</span>{{name}}
        </h1>

        <div class="spacer--medium"></div>

    {{/tag}}

    <div class="archive">
        {{#foreach posts}}
            {{> post-teaser}}
        {{/foreach}}
    </div>

    {{pagination}}

</div>

<div class="layout__sidebar-right">

    <aside class="sidebar gh-sidebar"></aside>

</div>
