{{!< default}}

{{#tag}}

    <h1>
        <span class="color--text-subtle">Tag/</span>{{name}} {{#if ../pagination.prev}}<span class="color--text-subtle">(Page {{../pagination.page}})</span>{{/if}}
    </h1>

    <div class="spacer--extra-large"></div>

{{/tag}}

<div class="archive">
    {{#foreach posts}}
        {{> post-teaser}}
    {{/foreach}}
</div>

{{pagination}}