{{!< default}}

<main role="main">

    {{#tag}}

    <section class="section section--narrow">

        <h1 class="mb-3">
            <span class="color--text-subtle">Tag:</span> {{name}}
        </h1>
        
        <p class="color--text-subtle">{{plural ../pagination.total empty='0 posts' singular='% post' plural='% posts'}}{{#if description}}{{description}}{{/if}}.</p>

    </section>

    {{/tag}}

    <section class="section section--narrow">
        
        {{#foreach posts}}
            {{> post-teaser}}
        {{/foreach}}

        {{pagination}}

    </section>

</main>
