{{!< default}}

<main role="main">

    {{#get "posts" include="tags" filter="tags:[design,dev]" limit="all"}}
        
    <h1 class="heading mb-3">Work</h1>

    <p>{{t "All {total} design & dev posts I've written." total=pagination.total}}</p>

    {{/get}}

    <h2 class="subheading mb-5 mt-6">Archive</h2>

    {{#get "posts" include="tags" filter="tags:[design,dev]" limit="all" order="published_at desc"}}

        {{#foreach posts}}
            {{> post-teaser}}
        {{/foreach}}

    {{/get}}

</main>