/* ==========================================================================
   #POST/DEFAULT
   ========================================================================== */

.post {
    &__title {
        margin-bottom: var(--spacing4);
    }
    
    &__number {
        color: var(--colorTextExtraSubtle);
        font-variant-numeric: tabular-nums;
    }

    &__meta {
        display: flex;
        gap: var(--spacing3);
        margin-bottom: var(--spacing6);

        color: var(--colorTextSubtle);
        font-family: var(--fontFamilyAlternative);
    }

    &__tags {
        display: flex;
        gap: var(--spacing3);
    }

    &__tag {
        color: inherit;
        text-transform: lowercase;

        .content & {
            color: inherit;
        }
    }

    ol + h2,
    ol + h3,
    ul + h2,
    ul + h3,
    blockquote + h2,
    blockquote + h3,
    p + h2,
    p + h3,
    .kg-card + h2,
    .kg-card + h3 {
        margin-top: var(--contentSpacingLarge);
    }

    .kg-card,
    pre {
        margin-bottom: var(--spacing4);
        margin-top: var(--spacing4);
    }
}