/* ==========================================================================
   #PAGINATION/DEFAULT
   ========================================================================== */

.pagination {
    padding-top: var(--spacing7);

    font-size: var(--fontSizeSmall);

    .newer-posts {
        margin-right: $content-gutter-small;
    }
    
    .older-posts {
        margin-left: $content-gutter-small;
    }
}