/* ==========================================================================
   #GALLERY/DEFAULT
   ========================================================================== */

.gallery {
    @include list-reset();
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: var(--galleryGutterSmall);
    margin-left: calc(var(--galleryItemGap) * -1);
    margin-right: calc(var(--galleryItemGap) * -1);

    @media (min-width: var(--bpMobile)) {
        margin-bottom: var(--galleryGutter);
    }
}

    .gallery__item {
        margin-bottom: var(--galleryGutterSmall);
        padding-left: var(--galleryItemGap);
        padding-right: var(--galleryItemGap);
        width: 50%;

        @media (min-width: var(--bpTabletSmall)) {
            width: 33.3%;
        }

        @media (min-width: $bp-tablet) {
            width: 25%;
        }
    }