/* ==========================================================================
   #GALLERY/DEFAULT
   ========================================================================== */

.gallery {
    @include list-reset();
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include rem(margin-bottom, $gallery-gutter-small);
    @include rem(margin-left, -$gallery-item-gap);
    @include rem(margin-right, -$gallery-item-gap);

    @media (min-width: var(--bpMobile)) {
        @include rem(margin-bottom, $gallery-gutter);
    }
}

    .gallery__item {
        @include rem(margin-bottom, $gallery-gutter-small);
        @include rem(padding-left, $gallery-item-gap);
        @include rem(padding-right, $gallery-item-gap);
        width: 50%;

        @media (min-width: var(--bpTabletSmall)) {
            width: 33.3%;
        }

        @media (min-width: var(--bpTablet)) {
            width: 25%;
        }
    }