/* ==========================================================================
   #GALLERY/SETTINGS
   ========================================================================== */

:root {
    --galleryGutter: 2rem;
    --galleryGutterSmall: 1.5rem;
    --galleryItemGap: calc(var(--galleryGutter) / 2);
}