/* ==========================================================================
   #GRID/QUAD
   ========================================================================== */

.grid--quad {
    > .grid__item {
        width: 100%;

        @media (min-width: var(--bpDesktopSmall)) {
            max-width: 33%;
        }

        @media (min-width: var(--bpDesktop)) {
            max-width: 25%;
        }
    }
}