/* ==========================================================================
   #GRID/QUAD
   ========================================================================== */

.grid--quad {
    > .grid__item {
        width: 100%;

        @media (min-width: $bp-desktopSmall) {
            max-width: 33%;
        }

        @media (min-width: $bp-desktop) {
            max-width: 25%;
        }
    }
}