/* ==========================================================================
   #GRID/SETTINGS
   ========================================================================== */

$grid-gap-master: $content-gutter;
$grid-gap-master-small: $content-gutter-small;

$grid-default-item-margin-bottom: $content-gutter;

$grid-posts-one-max-width: 42rem;
$grid-posts-one-max-width-desktop: 65rem;
$grid-posts-two-max-width: 30rem;