/* ==========================================================================
   #ARCHIVE/DEFAULT
   ========================================================================== */

.archive {
    border-bottom: $border-width solid var(--colorBorder);
    padding: $spacing-5 0;
    position: relative;

    &:first-child {
        padding-top: 0;

        .archive__year {
            inset: 0 auto 0 0;
        }
    }

    &:last-child {
        border: 0;
        padding-bottom: 0;
    }

    &__year {
        inset: $spacing-5 auto 0 0;

        @media (min-width: var(--bpTablet)) {
            position: absolute;
        }

        &-label {
            margin-bottom: 2.4rem;
            position: sticky;
            top: $spacing-4;

            @include text-heading(H2);
            color: var(--colorTextSubtle);

            @media (min-width: var(--bpTablet)) {
                margin-bottom: 5.7rem;
            }
        }
    }

    &__post-wrapper {
        margin-bottom: $spacing-4;

        &:last-child {
            margin-bottom: 0;
        }

        article {
            flex-direction: column;
            margin-bottom: 0;

            @media (min-width: var(--bpTablet)) {
                padding-left: 12rem;
            }
        }

        & + & {
            .archive__post-year-label {
                display: none;
            }
        }

        .heading {
            a {
                text-decoration: none;
            }
        }
    }

    &__post-year {
        &-label {
            position: sticky;
            top: 0;

            @include text-heading(H1);
        }
    }
}