/**
 * -----------------------------------------------------------------------------
 * $COLUMN
 * -----------------------------------------------------------------------------
 */

$columns: 18;

@for $column from 1 to $columns {
    .col-start--#{$column} {
        @media (min-width: $bp-desktop-small) {
            grid-column-start: #{$column};
        }
    }
}

@for $column from 1 to $columns {
    .col-end--#{$column} {
        @media (min-width: $bp-desktop-small) {
            grid-column-end: #{$column};
        }
    }
}