/* ==========================================================================
   #DISPLAY
   ========================================================================== */

.d { 
    &--none { display: none; }
    &--block { display: block; }
    &--flex { display: flex;}
    &--inline-flex { display: inline-flex; }
    &--inline-block { display: inline-block; }
}