/* ==========================================================================
   #MARGIN
   ========================================================================== */

.margin {
    &-bottom {
        &--tiny {
            margin-bottom: var(--spacing1);
        }

        &--small {
            margin-bottom: var(--spacing2);
        }

        &--default {
            margin-bottom: var(--spacing3);
        }

        &--medium {
            margin-bottom: var(--spacing4);
        }

        &--large {
            margin-bottom: var(--spacing5);
        }

        &--huge {
            margin-bottom: var(--spacing6);
        }

        &--gigantic {
            margin-bottom: var(--spacing7);
        }
        &--none {
            margin-bottom: 0;
        }
    }

    &-top {
        &--tiny {
            margin-top: var(--spacing1);
        }

        &--small {
            margin-top: var(--spacing2);
        }

        &--default {
            margin-top: var(--spacing3);
        }

        &--medium {
            margin-top: var(--spacing4);
        }

        &--large {
            margin-top: var(--spacing5);
        }

        &--huge {
            margin-top: var(--spacing6);
        }

        &--gigantic {
            margin-top: var(--spacing7);
        }
        &--none {
            margin-top: 0;
        }
    }
}