/* ==========================================================================
   #TEXT
   ========================================================================== */

/**
 * Classes to style text in various different ways.
 */
   
.font {
    &--alt {
        font-family: var(--fontFamilyAlternative);
    }

    &--default {
        font-family: var(--fontFamilyDefault);
    }
}

.text {
    &--align {
        &-left { text-align: left; }
        &-center { text-align: center; }
        &-right { text-align: right; }
    }

    &--h1 { 
        @include text-heading('H1');
    }

    &--h2 { 
        @include text-heading('H2');
    }

    &--h3 { 
        @include text-heading('H3');
    }

    &--gradient {
        display: inline-block;

        color: transparent;
        background: linear-gradient(90deg, var(--colorPrimary) 0%, var(--colorPrimaryDark) 100%);
        background-clip: text;
    }

    &--line-through { text-decoration: line-through; }
    &--subheading {
        @include text-subheading;
    }
    &--underline { text-decoration: underline; }
    &--uppercase { text-transform: uppercase; }

    &--size {
        &-h1 { 
            font-size: var(--fontSizeH1);
            line-height: var(--lineHeightH1);
        }

        &-h2 { 
            font-size: var(--fontSizeH2);
            line-height: var(--lineHeightH2);
        }

        &-h3 { 
            font-size: var(--fontSizeH3);
        }
        &-large {
            font-size: var(--fontSizeLarge);
            letter-spacing: var(--letterSpacingLargeText);
        }
        &-small {
            font-size: var(--fontSizeSmall);
        }
        &-tiny {
            font-size: var(--fontSizeTiny);
        }
    }

    &--color {
        &-prominent {
            color: var(--colorTextProminent);
        }
        &-subtle {
            color: var(--colorTextSubtle);
        }
    }

    &--weight {
        &-bold {
            font-weight: var(--fontWeightSemiBold);
        }

        &-normal {
            font-weight: var(--fontWeightRegular);
        }
    }

    &--wrap {
        &-balance {
            text-wrap: balance;
        }

        &-pretty {
            text-wrap: pretty;
        }
    }
}  