/* ==========================================================================
   #FOOTER/DEFAULT
   ========================================================================== */

.footer {
    padding: var(--spacing3) var(--spacing3) 0;
    width: 100%;
    z-index: $z-index-front;
    
    border-top: 2px solid var(--colorGrey9);

    a {
        color: var(--colorTextSubtle);
        text-decoration-color: var(--colorTextSubtle);
        text-decoration-thickness: 1px;

        &:hover {
            color: var(--colorText);
            text-decoration: none;
        }
    }
}