/* ==========================================================================
   #FOOTER/DEFAULT
   ========================================================================== */

.footer {
    padding: $spacing-3 $spacing-3 0;
    width: 100%;
    z-index: $z-index-front;
    
    border-top: 1px solid var(--colorGrey8);

    a {
        color: var(--colorTextSubtle);
        text-decoration-color: var(--colorTextSubtle);
        text-decoration-thickness: 1px;

        &:hover {
            color: var(--colorText);
            text-decoration: none;
        }
    }
}