/* ==========================================================================
   #FOOTER/DEFAULT
   ========================================================================== */

.footer {
    padding: $spacing-4 $spacing-3 $spacing-7;
    width: 100%;

    @media (min-width: $bp-tablet) {
        padding: $spacing-5 $spacing-3;
    }

    @media (min-width: $bp-desktop) {
        margin: 0 auto;
        max-width: var(--contentWidthWide);
        padding: $spacing-5 0;
    }

    a {
        color: var(--colorText);
        text-decoration-color: var(--colorText);
        text-decoration-thickness: 1px;

        &:hover {
            color: var(--colorPrimary);
            text-decoration: none;
        }
    }
}