/* ==========================================================================
   #PAGE-HEADER/DEFAULT
   ========================================================================== */

.page-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing3);
    padding-block-start: var(--spacing7);
    padding-block-end: var(--spacing7);

    &__title {
        margin-bottom: 0;
    }

    &__meta {
        align-items: center;
        display: flex;
        gap: var(--spacing1);
    }
}