/* ==========================================================================
   #COLUMNS/DEFAULT
   ========================================================================== */

.columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--spacing6);

    @media (min-width: $bp-tablet) {
        grid-template-columns: 1fr 1fr;
    }

    &--three {
        @media (min-width: $bp-tablet) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &--four {
        @media (min-width: $bp-tablet) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}