/* ==========================================================================
   #POST-TEASER/DEFAULT
   ========================================================================== */

.post-teaser {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-1;
    justify-content: space-between;
    margin: 0 auto $spacing-5;
    width: 100%;

    @media (min-width: $bp-tablet) {
        flex-wrap: nowrap;
        gap: $spacing-5;
    }

    &__content {
    }

    &__heading {
        margin: 0 0 $spacing-1;
    }

    &__title {
        color: var(--colorTextProminent);
        font-weight: var(--fontWeightBold);
        font-size: var(--fontSizeBase);
        line-height: var(--lineHeightH3);
    }

    &__excerpt {
    }

    &__date {
        flex-shrink: 0;

        color: var(--colorTextSubtle);
    }
}