/* ==========================================================================
   #POST-TEASER/DEFAULT
   ========================================================================== */

.post-teaser {
    display: flex;
    flex-direction: column;
    gap: $spacing-1;
    justify-content: space-between;
    margin: 0 auto $spacing-5;
    width: 100%;

    &__heading {
        margin: 0 0 $spacing-1;
    }

    &__title {
        color: var(--colorTextProminent);
        font-weight: var(--fontWeightSemiBold);
        font-size: var(--fontSizeH3);
        line-height: var(--lineHeightH3);
    }

    &__content,
    &__excerpt {
    }

    &__date {
        flex-shrink: 0;

        color: var(--colorTextSubtle);
        font-size: var(--fontSizeSmall);
        text-decoration: none;
    }
}