/* ==========================================================================
   #NOTE/DEFAULT
   ========================================================================== */

.note {
    position: relative;

    &:first-child {
        padding-top: 0;
    }

    .meta { 
        a {
            text-decoration: none;
        }
    }

    > * {
        margin-bottom: $spacing-4;
    }
}