/**
 * -----------------------------------------------------------------------------
 * $BLOCKQUOTE/DEFAULT
 * -----------------------------------------------------------------------------
 */

blockquote {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing4);
    position: relative;

    font-style: italic;

    &:before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: .2rem;

        background: var(--colorPrimary);
    }

    a {
        color: inherit;
    }

    p {
        font-style: italic;
    }

    footer {
        margin-top: 0;
    }

    &.kg-blockquote-alt {
        padding: var(--spacing4) 0;

        font-size: var(--fontSizeLarge);
        text-align: center;

        &:before,
        &:after {
            bottom: auto;
            content: "";
            height: .2rem;
            left: 50%;
            position: absolute;
            top: 0;
            width: 10rem;

            transform: translateX(-50%);

            background: var(--colorPrimary);
        }

        &:after {
            bottom: 0;
            top: auto;
        }
    }
}