/**
 * -----------------------------------------------------------------------------
 * $BLOCKQUOTE/DEFAULT
 * -----------------------------------------------------------------------------
 */

blockquote {
    margin-block-end: var(--contentSpacing);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing4);
    position: relative;
    width: 100%;

    font-size: var(--fontSizeBlockquote);
    font-style: italic;
    text-wrap: balance;

    &:before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: .2rem;

        background: var(--colorPrimary);
    }

    p {
        font-style: italic;
    }

    footer {
        margin-top: 0;
    }

    &.kg-blockquote-alt {
        margin-block-start: var(--contentSpacing);
        padding: var(--spacing4) 0;

        font-size: var(--fontSizeBlockquote);
        text-align: center;
        text-wrap: balance;

        &:before,
        &:after {
            bottom: auto;
            content: "";
            height: .2rem;
            left: 50%;
            position: absolute;
            top: 0;
            width: 10rem;

            transform: translateX(-50%);

            background: var(--colorPrimary);
        }

        &:after {
            bottom: 0;
            top: auto;
        }
    }
}