/**
 * -----------------------------------------------------------------------------
 * $BLOCKQUOTE/DEFAULT
 * -----------------------------------------------------------------------------
 */

blockquote {
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-4;
    position: relative;

    &:before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: .2rem;

        background: var(--colorBorder);
    }

    a {
        color: inherit;
    }

    p {
        font-style: italic;
    }

    footer {
        margin-top: 0;
    }
}