/* ==========================================================================
   #TAG/DEFAULT
   ========================================================================== */

.tag {
    color: var(--colorTextSubtle);
    font-size: var(--fontSizeSmall);
    text-decoration-color: var(--colorTextSubtle);
    text-decoration-thickness: .1rem;
}