/* ==========================================================================
   #META/DEFAULT
   ========================================================================== */

.meta {
    color: var(--colorTextSubtle);
    font-family: var(--fontFamilyDefault);
    font-size: var(--fontSizeTiny);

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    &__date {      
        margin-right: .4rem;

        font-variant-numeric: tabular-nums;
    }
}