/* ==========================================================================
   #SIDEBAR/DEFAULT
   ========================================================================== */

.sidebar {
    align-self: flex-start;
    display: none;
    grid-column: 3;
    margin-inline-start: auto;
    max-width: var(--sidebarMaxWidth);
    position: sticky;
    top: calc(var(--headerHeight) + var(--spacing7));
    z-index: var(--zIndexFront);

    @media (min-width: $bp-desktop-small) {
        display: block;
    }
}