/* ==========================================================================
   #ANCHOR
   ========================================================================== */

/**
 * Base styling for anchor links. See component 'links' for modifying these further
 */
 
a {
    @include active-states();
    position: relative;

    color: var(--colorPrimary);
    font-weight: var(--fontWeightAnchor);
    text-decoration: underline;
    word-break: break-word;

    &:hover {
        text-decoration: none;
    }

    /* Only external links */
    // &[href^="http://"]:not([href*="localhost"])::after,
    // &[href^="https://"]:not([href*="localhost"])::after {
    // content: " ↗";
    // font-size: 1em;
    // margin-left: var(--spacing1);
    // opacity: 0.7;
    // text-decoration: none;
    // }
}
