/* ==========================================================================
   #BODY
   ========================================================================== */

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: var(--spacing6);

    background-color: var(--colorBackground);
    background-image: var(--imageBackground);
    background-size: 70px;
    background-repeat: repeat;
    color: var(--colorText);
    font-family: var(--fontFamilyDefault);
    font-feature-settings: "ss03";
    font-size: var(--fontSizeBase);
    font-weight: var(--fontWeightDefault);
    letter-spacing: var(--letterSpacingDefault);
    line-height: var(--lineHeightDefault);

    &.gh-head-open {
        overflow: hidden;
    }
}