/* ==========================================================================
   #HEADING
   ========================================================================== */

h1, h2, h3 {
    margin-bottom: var(--spacing3);

    color: var(--colorTextProminent);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fontFamilyHeading);
}

h1 {
    @include text-heading('H1');
}

h2 {
    @include text-heading('H2');
}

h3 {
    @include text-heading('H3');
}