/* ==========================================================================
   #HTML
   ========================================================================== */

/**
 * `html` element that'll control font size/spacing for the paga via `rem` 
 * unit.
 */

/**
 * 1. Stop layout shift when scrollbar appears when switching between pages.
 * 2. Makes REM units easier to work with because 1rem = 10px.
 */
html {
    height: 100%;
    
    overflow-y: scroll; /* 1. */

    font-size: 62.5%; /* 2. */
    font-kerning: normal;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    letter-spacing: normal;
    word-spacing: normal;
}