/* ==========================================================================
   #MAIN
   ========================================================================== */

/**
  * 1. Required for skip-link
  */

main {
    flex: 1;
    padding: var(--spacing8) 0 var(--spacing7);
    width: 100%;

    &:focus {
        outline: none; /* 1. */
    }
}