/* ==========================================================================
   #MAIN
   ========================================================================== */

main {
    flex: 1;
    margin-bottom: var(--spacing7);
    margin-top: var(--headerHeight);
    width: 100%;
}