/* ==========================================================================
   #OL
   ========================================================================== */

/**
 * Base styling for numbered list.
 */

ol {
    margin: 0;
    margin-bottom: $spacing-3;
    margin-left: $spacing-4;
    padding-left: 0;

    font-size: inherit;

    li {
        padding-bottom: calc(#{$spacing-1} / 2);
        padding-top: calc(#{$spacing-1} / 2);

        &::marker {
            color: var(--colorTextSubtle);
        }
    }

    ol {
        margin-bottom: 0;
    }
}