/* ==========================================================================
   #SETTINGS
   ========================================================================== */

$anchor-after-height: .5rem;
$anchor-after-left-pos: -.2rem;
$anchor-after-right-pos: -.2rem;
$anchor-after-transition-duration: .2s;