/* ==========================================================================
   #UL
   ========================================================================== */

/**
 * Base styling for bulleted list.
 */

ul {
    list-style: disc;
    margin: 0;
    margin-bottom: var(--contentSpacing);
    margin-left: var(--spacing4);
    padding-left: 0;

    font-size: inherit;

    li {
        &::marker {
            color: var(--colorPrimaryDark);
        }
    }

    ul {
        margin-bottom: 0;

        list-style-type: circle;
    }
}