/* ==========================================================================
   #NAV/DEFAULT
   ========================================================================== */

.nav {
    @include list-reset;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: var(--spacing3);
    height: 100%;

    @media (min-width: $bp-desktop-small) {
        align-items: center;
        flex-direction: row;
        gap: var(--spacing5);
    }

    &__item {
        align-items: center;
        display: flex;
        flex: 1 0 auto;
        margin: 0;
        padding: var(--spacing1) 0;
        position: relative;

        a,
        button {
            align-items: center;
            border: 0;
            display: flex;
            gap: var(--spacing2);
            justify-content: center;
            padding: 0;
            width: 100%;
    
            background: transparent;
            color: var(--colorText);
            text-decoration-color: var(--colorText);
            text-decoration-thickness: 1px;
            text-decoration: none;

            cursor: pointer;
    
            @media (min-width: $bp-desktop-small) {
                gap: var(--spacing1);
            }
    
            svg {
                flex-shrink: 0;
    
                path {
                    stroke: var(--colorText);
                }
            }
    
            &:hover {
                color: var(--colorText);
                text-decoration: none;
                
                svg {
                    path {
                        stroke: var(--colorText);
                    }
                }
            }
    
            &.nav-current {
                color: var(--colorPrimary);
                text-decoration: none;
    
                svg {
                    path {
                        stroke: var(--colorPrimary);
                    }
                }
            }
        }

        &-label {
            .header__social & {
                @media (min-width: $bp-desktop-small) {
                    display: none;
                }
            }
        }
    }
}