/* ==========================================================================
   #NAV/SOCIAL
   ========================================================================== */

.nav--social {
    display: flex;
    flex-direction: row;
    gap: var(--spacing3);

    a,
    button {
        @media (min-width: $bp-desktop-small) {
            width: auto;

            font-size: var(--fontSizeSmall);
        }

        svg {
            display: block;

            path {
                stroke: var(--colorText);
            }
        }
    }

    .nav__item-label {
        display: none;
    }
}