/* ==========================================================================
   #NAV/SOCIAL
   ========================================================================== */

.nav--social {
    display: flex;
    gap: $spacing-2;

    li {
        padding: 0;
    }

    a {
        padding: $spacing-1;
        width: auto;

        svg {
            path {
                stroke: var(--colorTextSubtle);
            }
        }
    }
}