/* ==========================================================================
   #SUBHEADING/DEFAULT
   ========================================================================== */

.subheading {    
    color: var(--colorTextSubtle);
    font-size: var(--fontSizeTiny);
    letter-spacing: var(--letterSpacingSubheading);
    text-transform: uppercase;
}