/* ==========================================================================
   #HINT
   ========================================================================== */

/* Used primarily for forms and providing further context to a fieldset */

.hint {
    display: block;
    margin-bottom: $spacing-3;

    @include themify($themes) {
        color: themed('color.hint');
    }
}