/**
 * -----------------------------------------------------------------------------
 * $ARTICLE/VARIABLES
 * -----------------------------------------------------------------------------
 */

$article-content-width: 69rem;
$article-width: 116rem;

:root {
    --articleAsideMaxWidth: 26rem;
}