/* ==========================================================================
   #BLUESKY/DEFAULT
   ========================================================================== */

.bluesky {
    border-bottom: var(--borderWidth) solid var(--colorBorder);
    margin: var(--blueskyMargin);
    padding: var(--blueskyPadding);
    position: relative;

    font-family: var(--fontFamilyDefault);

    &__avatar {
        border-radius: 50%;
        height: var(--blueskyAvatarSize);
        left: 0;
        position: absolute;
        top: 0;
        width: var(--blueskyAvatarSize);
    }
    
    &__header {
        display: flex;
        align-items: center;
        gap: var(--blueskyHeaderGap);
        margin: var(--blueskyHeaderMargin);
    }
    
    &__meta {
        align-items: center;
        display: flex;
        gap: var(--blueskyMetaGap);
        
        color: var(--colorTextSubtle);
    }

    &__profile-link {
        align-items: center;
        display: flex;
        gap: var(--blueskyProfileLinkGap);
        flex-wrap: nowrap;

        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__name {
        color: var(--colorText);
        flex-shrink: 0;
        font-weight: var(--fontWeightSemiBold);
    }

    &__handle {
        color: var(--colorTextSubtle);
        font-size: var(--fontSizeSmall);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__time-link {
        display: flex;
        flex-shrink: 0;
        flex-wrap: nowrap;
        color: var(--colorTextSubtle);
        font-size: var(--fontSizeSmall);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &__body {
        margin: var(--blueskyBodyMargin);
        padding: var(--blueskyBodyPadding);

        white-space: pre-wrap;
    }

    &__quote {
        border: var(--borderWidth) solid var(--colorBorder);
        border-radius: var(--borderRadius);
        padding: var(--blueskyQuotePadding);

        &-header {
            align-items: center;
            display: flex;
            gap: var(--blueskyQuoteHeaderGap);
            margin: var(--blueskyQuoteHeaderMargin);
        }

        &-avatar {
            border-radius: 50%;
            height: var(--blueskyAvatarSize);
            width: var(--blueskyAvatarSize);
        }

        &-meta{
            display: flex;
            flex-direction: column;
        }

        &-handle {
            color: var(--colorTextSubtle);
            font-size: var(--fontSizeSmall);
        }

        &-text {
            white-space: pre-wrap;
        }
    }

    &__grid {
        margin: var(--blueskyGridMargin);
    }

    &__image {
        border-radius: var(--borderRadius);
    }

    &__footer {
        margin: var(--blueskyFooterMargin);
        padding: var(--blueskyFooterPadding);

        font-size: var(--fontSizeSmall);
        color: var(--colorTextSubtle);
    }

    &__reply-link {
        color: inherit;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}