/* ==========================================================================
   #BUTTON/DEFAULT
   ========================================================================== */

.btn,
.btn:link,
.btn:visited {
    border: 0;
    border-radius: 4rem;
    display: inline-block;
    overflow: hidden;
    padding: var(--spacing3) var(--spacing4);
    position: relative;
    vertical-align: middle;

    background-color: var(--colorCodeBg);
    outline: none;

    color: var(--colorText);
    font-family: var(--fontFamilyHeading);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightSemiBold);
    letter-spacing: 6px;
    line-height: var(--buttonLineHeight);
    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
        background-color: var(--colorPrimaryActive);
        border-color: var(--colorPrimaryActive);
    }
}

.btn:disabled {
    background-color: var(--colorbuttonDisabled);
    border-color: var(--colorbuttonDisabled);

    color: var(--colorTextDefault);
}