/* ==========================================================================
   #CARD/DEFAULT
   ========================================================================== */

.card {
    position: relative;

    color: var(--colorText);

    &:after {
        content: "";
        inset: -#{$spacing-2} -#{$spacing-3};
        position: absolute;
        z-index: $z-index-under;

        border: $border-width solid var(--colorBorder);
        border-left-color: transparent;
        border-right-color: transparent;
        background-color: transparent;

        @media (min-width: $bp-tablet) {
            border-color: var(--colorBorder);
            border-radius: $border-radius;
            inset: -1.2rem -#{$spacing-3} -1.2rem;
        }
    }

    &__title {
        margin-bottom: $spacing-1;
    }

    &--inverted {
        color: var(--colorTextInverted);

        &:after {
            background-color: var(--colorBlack);
            border: 0;
        }
    }
}