/* ==========================================================================
   #CARD/DEFAULT
   ========================================================================== */

.card {
    margin-bottom: var(--spacing4);
    position: relative;

    color: var(--colorText);

    &:after {
        content: "";
        inset: calc(var(--spacing2) * -1) calc(var(--spacing3) * -1);
        position: absolute;
        z-index: $z-index-under;

        border: $border-width solid var(--colorBorder);
        border-left-color: transparent;
        border-right-color: transparent;
        background-color: var(--colorBorder);

        @media (min-width: $bp-tablet) {
            border-color: var(--colorBorder);
            border-radius: $border-radius;
            inset: -1.2rem calc(var(--spacing3) * -1) -1.2rem;
        }
    }

    &__title {
        margin-bottom: var(--spacing1);
    }

    &--inverted {
        color: var(--colorTextInverted);

        &:after {
            background-color: var(--colorBlack);
            border: 0;
        }
    }

    .post-teaser {
        flex-wrap: wrap;
        gap: var(--spacing1);
        margin-bottom: 0;
    }
}