/* ==========================================================================
   #CARD/DEFAULT
   ========================================================================== */

.card {
    border-radius: var(--borderRadius);
    margin-block-end: var(--spacing4);
    margin-inline: calc(var(--viewportPadding) * -1);
    padding: var(--spacing4) var(--viewportPadding);
    position: relative;

    background-color: var(--colorCardBg);
    color: var(--colorText);

    &__title {
        margin-bottom: var(--spacing1);

        .card--inverted & {
            color: var(--colorTextInverted);
        }
    }

    &--inverted {
        background-color: var(--colorCardInvertedBg);
        color: var(--colorTextInverted);
    }

    .post-teaser {
        flex-wrap: wrap;
        gap: var(--spacing1);
        margin-bottom: 0;
    }
}