/* ==========================================================================
   #LAYOUT/DEFAULT
   ========================================================================== */

.layout {
    display: grid;
    grid-template-columns: var(--layoutGridTemplateColumns);
    padding-inline: var(--viewportPadding);
    position: relative;
    width: 100%;

    &--home {
        display: flex;
        gap: var(--spacing6);
        
        .content {
            flex: 1;
        }
    }
}