/* ==========================================================================
   #LAYOUT/DEFAULT
   ========================================================================== */

.layout {
    display: grid;
    grid-template-columns: var(--gridPrimary);
    width: 100%;
}