/* ==========================================================================
   #LAYOUT/DEFAULT
   ========================================================================== */

.layout {
    display: grid;
    position: relative;
    width: 100%;

    &--article {
        grid-template-columns: var(--layoutArticleGrid);
        padding-inline: var(--viewportPadding);
    }
}