/* ==========================================================================
   #LAYOUT/GHOST
   ========================================================================== */

.kg {
    &-bookmark {
        &-card,
        &-container,
        &-content,
        &-title,
        &-description,
        &-metadata,
        &-icon,
        &-author,
        &-publisher,
        &-thumbnail {
            display: block;
        }
    }

    &-card {
        font-family: var(--fontFamilyAlternative);
    }

    &-gallery {
        &-container,
        &-row,
        &-image {
            display: block;
        }
    }
}

.kg-card {
    &.kg-bookmark-card {
        a.kg-bookmark-container {
            border: 0;
            border-radius: var(--borderRadius);
            display: flex;
            margin-block-end: var(--contentSpacing);
            margin-bottom: var(--contentSpacing);
            margin-inline: calc(var(--viewportPadding) * -1);

            overflow: hidden;

            @include text-default;
            
            background: var(--colorKgBookmarkCardBg);
            color: var(--colorText);
            text-decoration: none;

            &:hover {
                border: 0;
                border-radius: var(--borderRadius);

                background: var(--colorKgBookmarkCardBg);
                box-shadow: 0px 0px 0px 2px var(--colorPrimary), 0px 0px 24px 0px rgba(var(--colorPrimaryRgb), 0.2);
                color: inherit;
            }

            .kg-bookmark-content {
                padding: var(--spacing4) var(--spacing4) var(--spacing4) var(--viewportPadding);
            }

            .kg-bookmark-thumbnail {
                img {
                    border-radius: 0;;
                }
            }
        }
    }
    
    &.kg-bookmark {
        &-container {
            display: flex;
            flex-direction: column;
            min-height: 148px;

            
            text-decoration: none;

            @media (min-width: $bp-tablet) {
                flex-direction: row;
            }

            .content & {
                color: var(--colorText);
            }
        }

        &-content {
            align-items: flex-start;
            border-radius: var(--borderRadius);
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: flex-start;
            padding: 1.2rem 1.6rem 1.6rem;

            background-color: var(--colorBookmarkBg);
            background-image: var(--imageBookmarkBg);

            @media (min-width: $bp-tablet) {
                border-radius: var(--borderRadius) 0 0 var(--borderRadius);
                border-right: var(--borderWidth) solid var(--colorCodeBg);
            }
        }

        &-title {
            color: var(--colorText);
            font-size: var(--fontSizeSmall);
            font-weight: var(--fontWeightSemiBold);
        }

        &-description {
            display: -webkit-box;
            overflow-y: hidden;
            margin: 8px 0 12px;
        
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            font-size: var(--fontSizeSmall);
        }

        &-thumbnail {
            display: none;

            @media (min-width: $bp-tablet) {
                border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
                display: block;
                max-height: 100%;
                min-height: 160px;
                min-width: 33%;
                order: 1;
                overflow: hidden;
                position: relative;
                width: 100%;
                max-width: 33%;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            
                object-fit: cover;
            }
        }

        &-metadata {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: auto;
            padding-right: 1.6rem;
            position: relative;

            font-size: var(--fontSizeSmall);
        }

        &-icon {
            margin-right: 8px;
            width: 22px;
            height: 22px;
        }

        &-author {
            line-height: 1.5em;
        }

        &-publisher {
            overflow: hidden;
            max-width: 240px;
            line-height: 1.5em;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &.kg-callout-card {
        align-items: center;
        border-radius: var(--borderRadius);
        margin-block-end: var(--contentSpacing);
        margin-inline: calc(var(--viewportPadding) * -1);
        padding: var(--spacing4) var(--viewportPadding);

        .kg-callout-emoji {
            padding-right: var(--spacing3);

            font-size: var(--fontSizeLarge);
            line-height: inherit;
        }

        .kg-callout-text {
            font-size: inherit;
            line-height: inherit;

            a {
                color: inherit;
            }
        }
    }
}

.kg-embed-card {
    margin-block-end: var(--contentSpacing);
    margin-bottom: var(--contentSpacing);
    margin-inline: calc(var(--viewportPadding) * -1);

    &:has(iframe[src*="youtube.com"]) iframe,
    &:has(iframe[src*="vimeo.com"]) iframe {
        border-radius: var(--borderRadius);
        width: 100%;
        aspect-ratio: 16 / 9;
        height: auto;
    }
}

.kg-image-card {
    margin-block-end: var(--spacing4);
    margin-inline: calc(var(--viewportPadding) * -1);

    img {
        @media (min-width: $bp-desktop-small) {
            border-radius: var(--borderRadius);
        }
    }

    &.kg-width-wide {
        img {
            @media (min-width: $bp-tablet) {
                border-radius: var(--borderRadius);
            }
        }
    }

    &.kg-width-full {
        img {
            @media (min-width: $bp-tablet) {
                border-radius: var(--borderRadius);
            }
        }
    }

    figcaption {
        padding: var(--spacing3) var(--viewportPadding);
    }
}

// .kg-width-full {
//     position: relative;
//     width: 100vw;
//     left: 50%;
//     right: 50%;
//     margin-left: -50vw;
//     margin-right: -50vw;
// }

// .kg-width-wide {
//     @media (min-width: $bp-tablet) {
//         position: relative;
//         width: 70vw;
//         left: 50%;
//         right: 50%;
//         margin-left: -35vw;
//         margin-right: -35vw;
//     }
// }