/* ==========================================================================
   #LAYOUT/VARIABLES
   ========================================================================== */

:root {
    --layoutGridTemplateColumns: 1fr;
    --layoutMain: calc(72rem - var(--viewportPadding));
    --layoutSidebar: calc(34rem - var(--viewportPadding));

    @media (min-width: $bp-desktop-small) {
        --layoutGridTemplateColumns: 1fr var(--layoutMain) var(--layoutSidebar) 1fr;
    }
}