/* ==========================================================================
   #LAYOUT/VARIABLES
   ========================================================================== */

:root {
    --layoutGridGap: var(--spacing6);
    --layoutGridTemplateAreas: 
        "sidebarLeft"
        "content"
        "sidebarRight";
    --layoutGridTemplateColumns: 1fr;
    --layoutContent: 1fr;
    --layoutMaxWidth: var(--maxWidth);
    --layoutSidebarLeft: 1fr;
    --layoutSidebarRight: 1fr;

    @media (min-width: $bp-desktop-small) {
        --layoutGridTemplateAreas: "sidebarLeft content sidebarRight";
        --layoutGridTemplateColumns: var(--layoutSidebarLeft) var(--layoutContent) var(--layoutSidebarRight);
        --layoutContent: 3fr;
        --layoutSidebarLeft: 1fr;
        --layoutSidebarRight: 1fr;
    }
}