/* ==========================================================================
   #LAYOUT/WIDTH
   ========================================================================== */

.width {
    margin-inline: auto;
    max-width: var(--maxWidth);
    padding-inline: var(--viewportPadding);
    width: 100%;
    
    &-full {
        position: relative;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }

    &-wide {
        @include content-wide;
    }
}