/* ==========================================================================
   #VARIABLES/BORDER
   ========================================================================== */

$border-radius: .4rem;
$border-width: .1rem;

:root {
   --borderRadius: .8rem;
   --borderRadiusLarge: 2.8rem;
   --borderWidth: .2rem;
}