/* ==========================================================================
   #VARIABLES/COLOR
   ========================================================================== */

:root {   
	--colorGrey0: #fafafa;
	--colorGrey1: #F5F5F5;
	--colorGrey2: #EEEEEE;
	--colorGrey3: #E0E0E0;
	--colorGrey4: #BDBDBD;
	--colorGrey5: #9E9E9E;
	--colorGrey6: #757575;
	--colorGrey7: #616161;
	--colorGrey8: #424242;
	--colorGrey9: #212121;

	--colorPrimary: #621799;
	--colorPrimaryDark: #bd451d;
	--colorSecondary: #26120c;

	--colorAlertBg: #e9f9da;
	--colorAlertText: #3d4b2f;
	--colorAlertDangerBg: #ffc7c4;
	--colorAlertDangerText: #352424;
	--colorAlertWarningBg: #fdfad3;
	--colorAlertWarningText: #35342d;
	--colorAnchorUnderline: #185731;
	--colorBackground: #dbd6d2;
	--colorBadge: #222;
	--colorBlack: #040407;
	--colorButtonBg: rgb(15, 15, 15);
	--colorBookmarkBg: var(--colorCodeBg);
	--colorBorder: #c9c4c0;
	--colorCardBg: var(--colorCodeBg);
	--colorCardInvertedBg: var(--colorBlack);
	--colorCodeBg: #f9f6f3;
	--colorCodeText: #514e78;
	--colorHeaderNavBg: rgba(250, 250, 250, 0.8);
	--colorHR: var(--colorBorder);
	--colorPreBg: var(--colorCodeBg);
	--colorPreFunction: #dd4a68;
	--colorPreProperty: #e979b6;
	--colorPrePunctuation: var(--colorGrey6);
	--colorPreSelector: #690;
	--colorPreToken: #07a;
	--colorPreUrl: #9a6e3a;
	--colorTagBg: var(--colorGrey9);
	--colorTagText: var(--colorGrey5);
	
	--colorRelatedContentBg: transparent;
	--colorSectionFeatureBg: var(--colorBlack);
	--colorSectionHeroBg: transparent;
	--colorText: #3d3b3a;
	--colorTextProminent: var(--colorText);
	--colorTextDark: #444444;
	--colorTextSubtle: var(--colorGrey6);
	--colorTextInverted: var(--colorWhite);
	--colorWhite: #e5e5e5;
}