/* ==========================================================================
   #VARIABLES/COLOR
   ========================================================================== */

:root {   
	--colorGrey0: #fafafa;
	--colorGrey1: #F5F5F5;
	--colorGrey2: #EEEEEE;
	--colorGrey3: #E0E0E0;
	--colorGrey4: #BDBDBD;
	--colorGrey5: #9E9E9E;
	--colorGrey6: #757575;
	--colorGrey7: #616161;
	--colorGrey8: #424242;
	--colorGrey9: #212121;

	--colorPrimary: var(--colorGrey9);
	--colorSecondary: #26120c;

	--colorAlertBg: #e3f0d7;
	--colorAlertText: #3d4b2f;
	--colorAlertDangerBg: #f0d8d7;
	--colorAlertDangerText: #352424;
	--colorAlertWarningBg: #f0edd7;
	--colorAlertWarningText: #363425;
	--colorAnchorUnderline: #185731;
	--colorBackground: var(--colorGrey0);
	--colorBadge: #222;
	--colorBlack: #040407;
	--colorButtonBg: rgb(15, 15, 15);
	--colorBookmarkBg: var(--colorCodeBg);
	--colorBorder: var(--colorGrey3);
	--colorCodeBg: var(--colorGrey3);
	--colorCodeText: #403d61;
	--colorHeaderNavBg: rgba(250, 250, 250, 0.8);
	--colorHR: var(--colorBorder);
	--colorPreBg: var(--colorCodeBg);
	--colorPreFunction: #dd4a68;
	--colorPreProperty: #cf2382;
	--colorPrePunctuation: var(--colorGrey6);
	--colorPreSelector: #690;
	--colorPreToken: #07a;
	--colorPreUrl: #9a6e3a;
	
	--colorRelatedContentBg: transparent;
	--colorSectionFeatureBg: var(--colorBlack);
	--colorSectionHeroBg: transparent;
	--colorText: var(--colorGrey8);
	--colorTextProminent: var(--colorGrey9);
	--colorTextDark: #444444;
	--colorTextSubtle: var(--colorGrey5);
	--colorTextInverted: var(--colorWhite);
	--colorWhite: #e5e5e5;
}