/* ==========================================================================
   #VARIABLES/IMAGE
   ========================================================================== */

:root {   
   --imageAlertBg: var(--imageBackground);
   --imageBackground: url('/assets/images/bg-noise-tile.png');
   --imageBookmarkBg: var(--imageBackground);
   --imageSectionFeatureBg: var(--imageBackground);
}