/* ==========================================================================
   #VARIABLES/IMAGE
   ========================================================================== */

:root {   
   --imageAlertBg: var(--imageBackground);
   --imageBackground: transparent;
   --imageBookmarkBg: transparent;
   --imageSectionFeatureBg: var(--imageBackground);
}