/* ==========================================================================
   #VARIABLES/IMAGE
   ========================================================================== */

:root {   
   --imageAlertBg: var(--imageBackground);
   --imageBackground: none;
   --imageBookmarkBg: var(--imageBackground);
   --imageSectionFeatureBg: var(--imageBackground);
}