/* ==========================================================================
   #VARIABLES/SPACING
   ========================================================================== */

// Used for creating spacing helper classes. Should always match variables above.
$spacers: (
    0: 0,
    1: .4rem,
    2: .8rem,
    3: 1.6rem,
    4: 2.4rem,
    5: 3.2rem,
    6: 6.4rem,
    7: 9.6rem,
    8: 12.8rem,
    9: 16rem,
    10: 18.2rem
);

:root {
    --spacing1: .4rem;
    --spacing2: .8rem;
    --spacing3: 1.6rem;
    --spacing4: 2.4rem;
    --spacing5: 3.2rem;
    --spacing6: 6.4rem;
    --spacing7: 9.6rem;
    --spacing8: 12.8rem;
    --spacing9: 16rem;
    --spacing10: 18.2rem;
}