/* ==========================================================================
   #VARIABLES/TYPOGRAPHY
   ========================================================================== */

:root {
    --zIndexFront: 1000;
    --zIndexNav: 100;
    --zIndexDefault: 1;
    --zIndexUnder: -1;
    --zIndexBack: -100;
}