/* ==========================================================================
   #SECTION/DEFAULT
   ========================================================================== */

.section {
    margin: var(--spacing7) auto;
    padding: 0 var(--spacing3);
    position: relative;

    &--narrow {
        @media (min-width: $bp-tablet) {
            max-width: var(--contentWidthNarrow);
        }
    }

    &--wide {
        max-width: var(--contentWidthWide);
    }
}