/* ==========================================================================
   #SECTION/DEFAULT
   ========================================================================== */

.section {
    margin-bottom: $spacing-7;
    margin-top: $spacing-7;
    position: relative;
}