/* ==========================================================================
   #SECTION/FEATURE
   ========================================================================== */

.section--feature {
    margin-bottom: var(--spacing7);

    .section__content {
        border-radius: $border-radius;
        padding-bottom: var(--spacing6);
        padding-top: var(--spacing6);

        background-color: var(--colorSectionFeatureBg);
        background-image: var(--imageSectionFeatureBg);
    }

    .heading {
        margin-bottom: 0;
    }
}