/* ==========================================================================
   #LIST/TIMELINE
   ========================================================================== */

.list--timeline {
    position: relative;

    &:before {
        content: "";
        height: 100%;
        left: $list-timeline-before-left;
        position: absolute;
        top: 0;
        width: $list-timeline-before-width;

        background-color: var(--colorGrey9);
    }

    &:last-of-type {
        z-index: $z-index-under;

        &:before {
            bottom: 3rem;
            height: $list-timeline-last-of-type-height;
            top: auto;
        }
    }

    > li {
        padding-left: $list-timeline-li-padding-left;
        position: relative;

        &:before {
            content: "";
            height: $list-timeline-li-before-height;
            left: $list-timeline-li-before-left;
            position: absolute;
            top: $list-timeline-li-before-top;
            width: $list-timeline-li-before-width;

            border: $list-timeline-li-before-border-width solid var(--colorGrey9);
            border-radius: 50%;

            background-color: var(--colorBackground);
        }

        &:first-child {
            display: inline-block;
            margin-bottom: $list-timeline-li-first-child-margin-bottom;
            min-width: $list-timeline-li-first-child-min-width;
            padding-left: $list-timeline-li-first-child-padding-horizontal;
            padding-right: $list-timeline-li-first-child-padding-horizontal;
            position: relative;
            vertical-align: top;

            background-color: var(--colorGrey9);
            color: var(--colorText);
            font-weight: var(--fontWeightSemiBold);
            border-radius: $list-timeline-li-first-child-border-radius;
            text-align: center;
            text-transform: uppercase;

            &:before {
                display: none;
            }
        }

        &:not(:first-child) {
            padding-bottom: $list-timeline-li-not-first-child-padding-bottom;
        }

        span + ul {
            padding-top: $list-timeline-li-span-ul-padding-top;
        }

        > ul {
            padding-left: 0;

            list-style: none;

            color: var(--colorGrey7);
            font-size: var(--fontSizeSmall);

            > li {
                padding-bottom: $list-timeline-li-ul-li-padding-bottom;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }  
}