/* ==========================================================================
   #LIST/TIMELINE
   ========================================================================== */

.list--timeline {
    margin-top: var(--contentSpacingLarge);
    position: relative;

    &:before {
        content: "";
        height: var(--listTimelineBeforeHeight);
        left: var(--listTimelineBeforeLeft);
        position: absolute;
        top: var(--listTimelineBeforeTop);
        width: var(--listTimelineBeforeWidth);

        background-color: var(--colorBorder);
    }

    & + & {
        margin-top: var(--contentSpacing);
    }

    &:last-of-type {
        z-index: $z-index-under;

        &:before {
            bottom: 3rem;
            height: var(--listTimelineLastOfTypeHeight);
            top: auto;
        }
    }

    > li {
        padding-left: var(--listTimelineLiPaddingLeft);
        position: relative;

        &:before {
            content: "";
            height: var(--listTimelineLiBeforeSize);
            left: var(--listTimelineLiBeforeLeft);
            position: absolute;
            top: var(--listTimelineLiBeforeTop);
            width: var(--listTimelineLiBeforeSize);

            border: var(--listTimelineLiBeforeBorderWidth) solid var(--colorBorder);
            border-radius: 50%;

            background-color: var(--colorBackground);

            transform: none;

            // &.subheading {
            //     display: none;
            // }
        }

        &:first-child {
            // display: inline-block;
            // margin-bottom: var(--listTimelineLiFirstChildMarginBottom);
            // min-width: var(--listTimelineLiFirstChildMinWidth);
            // padding-left: var(--listTimelineLiFirstChildPaddingHorizontal);
            // padding-right: var(--listTimelineLiFirstChildPaddingHorizontal);
            // position: relative;
            // vertical-align: top;

            // background-color: var(--colorBorder);
            // color: var(--colorText);
            // font-weight: var(--fontWeightSemiBold);
            // border-radius: var(--listTimelineLiFirstChildBorderRadius);
            // text-align: center;
            // text-transform: uppercase;
        }

        &:not(:first-child) {
            padding-bottom: var(--listTimelineLiNotFirstChildPaddingBottom);
        }

        span + ul {
            padding-top: var(--listTimelineLiSpanUlPaddingTop);
        }

        > ul {
            padding-left: 0;

            list-style: none;

            color: var(--colorGrey7);
            font-size: var(--fontSizeSmall);

            > li {
                padding-bottom: var(--listTimelineLiUlLiPaddingBottom);

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }

        &.subheading {
            border: 0;
            margin: 0;
            padding: var(--spacing2) var(--spacing2) var(--listTimelineLiNotFirstChildPaddingBottom) var(--listTimelineLiPaddingLeft);

            &:before {
                top: var(--listTimelineLiSubheadingBeforeTop);

                background-color: var(--colorTextSubtle);
                border-color: var(--colorTextSubtle);
            }
        }
    }  
}