/* ==========================================================================
   #FORM/FIELDSET
   ========================================================================== */

.fieldset {
    margin: 0;
    padding: 0;

    border: 0;

    &__legend {
        margin-bottom: var(--spacing3);
    }

        &__heading {
            margin-bottom: 0;
        }
}