/* ==========================================================================
   #TAGS/DEFAULT
   ========================================================================== */

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing2);
    
    &__item {
        border-radius: var(--borderRadius);
        padding: var(--spacing1) var(--spacing2);

        background-color: var(--colorTagBg);
        color: var(--colorTagText);
        font-size: var(--fontSizeTiny);
        text-decoration: none;
        text-transform: uppercase;
    }
}