/* ==========================================================================
   #NAV-CONTAINER/DEFAULT
   ========================================================================== */

.nav-container {
    align-items: center;
    display: flex;
    position: relative;
    top: 0;
    width: 100%;
    z-index: $z-index-nav;

    font-size: var(--fontSizeSmall);

    > .nav {
        position: relative;
        z-index: var(--zIndexDefault);
    }
}