/* ==========================================================================
   #NAV-CONTAINER/DEFAULT
   ========================================================================== */

.nav-container {
    align-items: center;
    display: flex;
    padding: $spacing-3 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: $z-index-nav;

    font-size: var(--fontSizeSmall);

    @media (min-width: $bp-tablet) {
        margin: 0 auto;
    }

    > .nav {
        position: relative;
        z-index: var(--zIndexDefault);
    }

    &__backdrop {
        display: none;
        inset: $spacing-1;
        position: absolute;
        z-index: var(--zIndexUnder);

        background: rgba(255, 255, 255, 0.5);

        backdrop-filter: blur(4px);

        mask-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0) 100%);
    }
}