/* ==========================================================================
   #ALERT/DEFAULT
   ========================================================================== */

.alert {
    border: 0;
    margin-block-end: var(--spacing4);
    margin-inline: calc(var(--spacing3) * -1);
    padding: calc(var(--spacing1) * 3) var(--spacing3);
    position: relative;

    background: var(--colorAlertBg);
    border-radius: var(--borderRadius);
    color: var(--colorAlertText);

    a {
        color: inherit;

        .content & {
            color: inherit;
            text-decoration-color: inherit;
        }

        &:hover {
            color: inherit;
            text-decoration: none;

            .content & {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    &--danger {
        background-color: var(--colorAlertDangerBg);
        color: var(--colorAlertDangerText);
    }

    &--warning {
        background-color: var(--colorAlertWarningBg);
        color: var(--colorAlertWarningText);
    }
}