/* ==========================================================================
   #ALERT/DEFAULT
   ========================================================================== */

.alert {
    border: 0;
    margin-block-end: var(--spacing4);
    margin-inline: calc(var(--viewportPadding) * -1);
    padding: var(--spacing3) var(--viewportPadding);
    position: relative;

    background: var(--colorAlertBg);
    border-radius: var(--borderRadius);
    color: var(--colorAlertText);

    a {
        color: inherit;
    }

    &--danger {
        background-color: var(--colorAlertDangerBg);
        color: var(--colorAlertDangerText);
    }

    &--warning {
        background-color: var(--colorAlertWarningBg);
        color: var(--colorAlertWarningText);
    }
}