/* ==========================================================================
   #ALERT/DEFAULT
   ========================================================================== */

.alert {
    margin-bottom: var(--spacing4);
    position: relative;

    color: var(--colorAlertText);

    a {
        color: inherit;
    }

    &:after {
        content: "";
        inset: calc(var(--spacing2) * -1) calc(var(--spacing3) * -1);
        position: absolute;
        z-index: $z-index-under;

        background-color: var(--colorAlertBg);
        background-image: var(--imageAlertBg);

        @media (min-width: $bp-tablet) {
            border-radius: $border-radius;
            inset: calc(var(--spacing2) * -1) calc(var(--spacing3) * -1);
        }
    }

    &--danger {
        color: var(--colorAlertDangerText);
        
        &:after {    
            background-color: var(--colorAlertDangerBg);
        }
    }

    &--warning {
        color: var(--colorAlertWarningText);

        &:after {    
            background-color: var(--colorAlertWarningBg);
        }
    }
}