/* ==========================================================================
   #OVERRIDES/GHOST
   ========================================================================== */

.gh {
    &-viewport {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        min-height: 100%;
        max-width: var(--contentWidth);
        padding: var(--spacing5) 0;
    }

    &-main {
        flex: 1;
        margin-bottom: var(--spacing7);
        margin-top: var(--spacing7);
        padding: 0 var(--spacing3);
        width: 100%;
    }
}