/* ==========================================================================
   #HEADER/DEFAULT
   ========================================================================== */

.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: var(--headerHeight);
    left: 0;
    padding: var(--headerPadding);
    position: fixed;
    right: 0;
    top: 0;
    z-index: var(--zIndexFront);

    font-family: var(--fontFamilyHeading);

    @media (min-width: $bp-desktop-small) {
        align-items: flex-start;
        flex-direction: column;
        gap: var(--spacing4);
        height: auto;
        position: sticky;
        top: var(--spacing6);
    }

    &__backdrop {
        border-radius: var(--borderRadius);
        inset: 0;
        position: absolute;
        z-index: var(--zIndexUnder);

        .gh-head-open & {
            height: 100vh;
        }

        &:before {
            content: "";
            inset: 0;
            display: block;
            backdrop-filter: blur(6px) saturate(1.2);
            mask-image: linear-gradient(rgba(#000, 1) 0%, rgba(#000, 0) 100%);
            position: absolute;
            pointer-events: none;
        }

        &:after {
            content: "";
            // display: none;
            inset: 0;
            pointer-events: none;
            position: absolute;

            background: linear-gradient(0deg, rgba(219, 214, 210, 0) 0%, rgba(219, 214, 210, 1) 80%);
        }
    }

    &__menu-toggle {
        @media (min-width: $bp-desktop-small) {
            display: none;
        }
    }

    &__burger {
        .gh-head-open & {
            display: none;
        }
    }

    &__close {
        display: none;

        .gh-head-open & {
            display: block;
        }
    }

    &__menu {
        display: none;
        flex-direction: column;
        gap: var(--spacing3);
        inset: var(--headerHeight) 0 0;
        height: calc(100vh - var(--headerHeight));
        padding: var(--headerMenuPadding);
        position: absolute;
        width: 100%;

        @media (min-width: $bp-desktop-small) {
            display: flex;
            flex: 1;
            flex-direction: column;
            height: auto;
            inset: auto;
            position: relative;
            width: auto;

            background: transparent;
        }

        .gh-head-open & {
            display: flex;

            background: var(--colorBackground);
        }
    }

    &__nav {
    }

    &__social {
        display: flex;
    }

    &__site-info {
        align-items: center;
        display: flex;
        gap: var(--spacing3);
        
        font-family: var(--fontFamilyHeading);
        font-weight: var(--fontWeightSemiBold);
        text-decoration: none;

        @media (min-width: $bp-tablet) {
            gap: var(--spacing3);
        }
    }

    &__logo {
        display: block;
        flex-shrink: 0;
        height: var(--headerSiteLogoDimensions);
        position: relative;
        width: var(--headerSiteLogoDimensions);

        svg {
            path {
                fill: var(--colorTextProminent);
            }
        }

        &:hover {
            svg {
                path {
                    fill: var(--colorPrimary);
                }
            }
        }
    }

    &__site-copy {
        display: flex;
        flex-direction: column;
        gap: var(--spacing2);
    }

    &__site-title {
        flex: none;
        margin: 0;
        position: relative;
        z-index: $z-index-front;

        color: var(--colorPrimary);
        line-height: 1;
    }

    &__site-strapline {
        margin: 0;

        color: var(--colorTextSubtle);
        line-height: 1;
    }
}

.is-nav-visible {
    .header {
        &__nav {
            display: flex;
        }

        &__nav-button {
            display: none;

            &--close {
                display: flex;
            }
        }
    }
}