/* ==========================================================================
   #HEADER/DEFAULT
   ========================================================================== */

.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: var(--headerHeight);

    @media (min-width: $bp-desktop-small) {
        gap: var(--spacing4);
    }

    &__menu-toggle {
        @media (min-width: $bp-desktop-small) {
            display: none;
        }
    }

    &__burger {
        .gh-head-open & {
            display: none;
        }
    }

    &__close {
        display: none;

        .gh-head-open & {
            display: block;
        }
    }

    &__menu {
        display: none;
        flex-direction: column;
        gap: var(--spacing5);
        inset: var(--headerHeight) 0 0;
        height: calc(100vh - var(--headerHeight));
        padding: var(--headerMenuPadding);
        position: absolute;
        width: 100%;

        @media (min-width: $bp-desktop-small) {
            display: flex;
            flex: 1;
            flex-direction: row;
            height: auto;
            inset: auto;
            justify-content: space-between;
            position: relative;
            width: auto;

            background: transparent;
        }

        .gh-head-open & {
            display: flex;

            background: var(--colorBackground);
        }
    }

    &__nav {
    }

    &__social {
        display: flex;
    }

    &__site-info {
        align-items: center;
        display: flex;
        gap: var(--spacing3);
        
        font-family: var(--fontFamilyHeading);
        font-weight: var(--fontWeightSemiBold);
        text-decoration: none;

        @media (min-width: $bp-tablet) {
            gap: var(--spacing3);
        }
    }

    &__logo {
        display: block;
        flex-shrink: 0;
        height: var(--headerSiteLogoDimensions);
        position: relative;
        width: var(--headerSiteLogoDimensions);

        svg {
            filter: drop-shadow(2px 4px 12px black);

            path {
                // fill: var(--colorTextProminent);
            }
        }

        &:hover {
            svg {
                path {
                    fill: var(--colorPrimary);
                }
            }
        }
    }

    &__site-copy {
        display: flex;
        flex-direction: column;
        gap: var(--spacing2);
    }

    &__site-title {
        flex: none;
        margin: 0;
        position: relative;
        z-index: $z-index-front;

        color: var(--colorPrimary);
        line-height: 1;
    }

    &__site-strapline {
        margin: 0;

        color: var(--colorTextSubtle);
        line-height: 1;
    }
}

.is-nav-visible {
    .header {
        &__nav {
            display: flex;
        }

        &__nav-button {
            display: none;

            &--close {
                display: flex;
            }
        }
    }
}