/* ==========================================================================
   #HEADER/DEFAULT
   ========================================================================== */

.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: var(--headerHeight);
    left: 0;
    position: fixed;
    right: 0;
    top: var(--spacing4);
    z-index: var(--zIndexFront);

    font-family: var(--fontFamilyHeading);

    @media (min-width: $bp-desktop-small) {
        align-items: flex-start;
        flex-direction: column;
        gap: var(--spacing4);
        height: auto;
        position: sticky;
        top: var(--spacing6);
    }

    // &__backdrop {
    //     border-radius: var(--borderRadius);
    //     inset: 0;
    //     position: absolute;
    //     z-index: var(--zIndexUnder);

    //     background: rgba(199, 195, 191, 0.7);
    //     // background: var(--colorBackground);

    //     backdrop-filter: blur(4px);

    //     .gh-head-open & {
    //         height: 100vh;
    //     }
    // }

    &__menu-toggle {
        @media (min-width: $bp-desktop-small) {
            display: none;
        }
    }

    &__burger {
        .gh-head-open & {
            display: none;
        }
    }

    &__close {
        display: none;

        .gh-head-open & {
            display: block;
        }
    }

    &__menu {
        display: none;
        flex-direction: column;
        gap: var(--spacing3);
        inset: var(--headerHeight) 0 0;
        height: calc(100vh - var(--headerHeight));
        padding-inline: var(--viewportPadding);
        position: absolute;
        width: 100%;

        @media (min-width: $bp-desktop-small) {
            display: flex;
            flex: 1;
            flex-direction: column;
            height: auto;
            inset: auto;
            padding: 0;
            position: relative;
            width: auto;

            background: transparent;
        }

        .gh-head-open & {
            display: flex;
        }
    }

    &__nav {
    }

    &__social {
        display: flex;
    }

    &__site-info {
        align-items: center;
        display: flex;
        gap: var(--spacing3);
        
        font-family: var(--fontFamilyHeading);
        font-weight: var(--fontWeightSemiBold);
        text-decoration: none;

        @media (min-width: $bp-tablet) {
            gap: var(--spacing3);
        }
    }

    &__logo {
        display: block;
        flex-shrink: 0;
        height: var(--headerSiteLogoDimensions);
        position: relative;
        width: var(--headerSiteLogoDimensions);

        img {
            border-radius: 50%;
 
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
        }

        // svg {
        //     height: 100%;
        //     width: 100%;

        //     // fill: var(--colorTextProminent);

        //     transform: rotate(0deg);
        //     animation-name: turntableSpin;
        //     animation-duration: 3s;
        //     animation-iteration-count: infinite;
        //     animation-timing-function: linear;

        //     path {
        //         fill: inherit;
        //     }
        // }

        .record {
            transform: rotate(0deg);
            transform-origin: 50%;
            animation-name: turntableSpin;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        .turntable {
            fill: var(--colorGrey9);
        }

        .power {
            fill: springgreen;
        }

        .vinyl {
            fill: var(--colorGrey7);
        }

        .label {
            fill: var(--colorTextProminent);
        }

        &:hover {
            &:after {
                background-color: greenyellow;
            }

            svg {
                animation-name: turntableSpin;

                path {
                    fill: var(--colorPrimary);
                }
            }
        }
    }

    &__site-copy {
        display: flex;
        flex-direction: column;
        gap: var(--spacing2);
    }

    &__site-title {
        flex: none;
        margin: 0;
        position: relative;
        z-index: $z-index-front;

        color: var(--colorPrimary);
        line-height: 1;
    }

    &__site-strapline {
        margin: 0;

        color: var(--colorTextSubtle);
        line-height: 1;
    }
}

.is-nav-visible {
    .header {
        &__nav {
            display: flex;
        }

        &__nav-button {
            display: none;

            &--close {
                display: flex;
            }
        }
    }
}

@keyframes turntableSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}