/* ==========================================================================
   #HEADER/SETTINGS
   ========================================================================== */

:root {
    --headerAfterOpacity: .95;
    --headerAfterZIndex: -2;
    --headerBeforeZIndex: -1;
    --headerBeforeHeight: .1rem;
    --headerNavButtonAfterOffset: -1rem;
    --headerNavButtonCloseIconHeight: 2rem;
    --headerNavButtonIconHeight: 1.4rem;
    --headerNavButtonIconWidth: 2.4rem;
    --headerNavButtonPadding: 0 0 0 3.2rem;

    --headerSiteLogoDimensions: 6.4rem;

    @media (min-width: $bp-tablet) {
        --headerSiteLogoDimensions: 7.2rem;
    }
}