/* ==========================================================================
   #LINK/BUBBLE
   ========================================================================== */

.link--bubble {
    display: inline-block;
    padding: var(--linkBubblePadding);

    @include text-heading('H5');
    background: var(--colorButtonBg);
    border-radius: var(--linkBubbleBorderRadius);    
    color: var(--colorText);
    text-decoration: none;
}