/* ==========================================================================
   #LINK/CTA
   ========================================================================== */

.link--cta {
    &-large {
        padding-bottom: var(--spacing2);
        padding-left: var(--spacing3);
        padding-right: var(--spacing3);
        padding-top: var(--spacing2);

        @include themify($themes) {
            font-size: themed('fontSize.h3');
        }
    }
}