/* ==========================================================================
   #LINK/KEY
   ========================================================================== */

.link--key {
    align-items: center;
    display: inline-flex;
    padding-bottom: $link-key-padding-vertical;
    padding-right: $link-key-padding-right;
    padding-top: $link-key-padding-vertical;
    position: relative;
    z-index: $z-index-default;

    transition: color $link-key-transition-delay ease-in-out;

    &:after {
        display: none;
    }

    &:before {
        bottom: 0;
        content: "";
        height: 100%;
        left: $link-key-before-left-pos;
        position: absolute;
        top: 0;
        width: $link-key-before-width;
        z-index: $z-index-under;

        transition: width $link-key-transition-delay ease-in-out;
    }

    &:hover {
        &:before {
            width: 100%;
        }
    }

    &-events {
        &:before {
            @include themify($themes) {
                background-color: themed('color.tag.events');
            }
        }
    }

    &-ghost-cms {
        &:hover {
            @include themify($themes) {
                color: themed('color.white');
            }
        }
        &:before {
            @include themify($themes) {
                background-color: themed('color.tag.ghost');
            }
        }
    }

    &-thoughts {
        &:before {
            @include themify($themes) {
                background-color: themed('color.tag.thoughts');
            }
        }
    }
}