/* ==========================================================================
   #LINK/PLAIN
   ========================================================================== */

.link--plain {
    border-bottom: 0;

    text-decoration: none;

    @include themify($themes) {
        color: inherit;
    }

    &:before,
    &:after {
        display: none;
    }
}