/* ==========================================================================
   #LINK/SETTINGS
   ========================================================================== */

$link-key-before-left-pos: -1.8rem;
$link-key-before-width: .5rem;

$link-key-padding-right: 3.3rem;
$link-key-padding-vertical: .3rem;

$link-key-transition-delay: .5s;

$link-line-height: 1px;

$link-transition-duration: 0.3s;

:root {
   --linkBubblePadding: 1rem 1rem;
   --linkBubbleBorderRadius: .3rem;
}