/* ==========================================================================
   #POST-CONTENT/DEFAULT
   ========================================================================== */

.post-content {
    margin: 0 auto;
    max-width: $content-width-wide;
    margin-bottom: $spacing-7;

    > * {
        margin-bottom: $spacing-5;

        &:last-child {
            margin-bottom: 0;
        }

        & + h2 {
            padding-top: $spacing-5;
        }

        & + h3 {
            padding-top: $spacing-5;
        }

        & + h4 {
            padding-top: $spacing-5;
        }
    
        &:not(.section):not(.kg-embed-card):not(.kg-width-wide):not(.kg-width-full):not(hr):not(.read-next):not(pre):not(.width-wide):not(.width-full):not(blockquote) {
            @include content-default;
        }
    }

    .kg-embed-card {
        @include content-default-margin;

        width: calc(100% - 3.2rem);

        @media (min-width: $bp-tablet) {
            width: calc(100% - 12.8rem);
        }
    }

    blockquote,
    pre {
        @include content-wide-margin;
    }

    code {
        font-size: var(--fontSizeCode);
    }

    .kg-width-wide {
        @include content-wide;
        
        figcaption {
            @media (min-width: var(--bpDesktopSmall)) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    > hr {
        margin-bottom: 8rem;
        margin-top: 8rem;

        @media (min-width: var(--bpDesktopSmall)) {
            width: calc(100% - calc(#{$spacing-6} * 2));
        }

        & + h2 {
            padding-top: 0;
        }

        & + h3 {
            padding-top: 0;
        }

        & + h4 {
            padding-top: 0;
        }
    }

    > .list--timeline {
        margin-bottom: 0;
    }
}